<div class="container">
    <div class="label">一、日期时间</div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">日期时间-有秒</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo" placeholder="yyyy-MM-dd HH:mm:ss"
                        autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">日期时间-无秒</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo1" placeholder="yyyy-MM-dd HH:mm"
                        autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">日期时间-默认值</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo2" autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">日期时间-背景蒙层</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo3" autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">日期时间-时间和日期一起展示</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo12" autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="label">二、日期</div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">日期-显示格式</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo4" autocomplete="off" readonly>
                </div>
                <div class="layui-input-inline">
                    数据:{{ demo4Data }}
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">日期-自动展开</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo5" autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">年月</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo6" autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">月日</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo7" autocomplete="off" readonly>
                </div>
                <div class="layui-input-inline">
                    数据:{{ demo7Data }}
                </div>
            </div>
        </div>
    </div>
    <div class="label">三、时间</div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">时间-带秒</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo8" autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">时间-不带秒</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo9" autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="label">四、范围</div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">日期时间-范围</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo11" autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">时间范围-带秒</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" id="ID-laydate-demo10" autocomplete="off" readonly>
                </div>
            </div>
        </div>
    </div>
</div>