.eui-checkbox-group {
    >eui-checkbox:not(:last-child) {
        margin-right: 16px;
    }
}

.eui-dropdown-item:hover {
    eui-checkbox {

        .eui-checkbox-wrapper .eui-icon,
        .eui-checkbox-wrapper .eui-icon.icon-checkbox-selected,
        .eui-checkbox-wrapper .eui-icon.icon-checkbox-indeterminate {
            color: #fff !important;
            background-color: transparent !important;
        }
    }
}
