.modal-max {
    .eui-modal-dialog {
        width: 98%;
        max-width: 98%;
    }

    .eui-modal-content {
        width: 100%;
    }
}
.modal-90 {
    .eui-modal-dialog {
        width: 90%;
        max-width: 90%;
    }
}

.eoffice-image-view-modal {
    .eui-modal-dialog {
        text-align: center;

        .eui-modal-content {
            justify-content: center;
            background-color: transparent;
            display: inline-block;
            width: auto;
            max-width: 100%;
        }
    }
}
.quick-login-index {
    z-index: 99999 !important;
}
