.eui-radio-group {
    >eui-radio:not(:last-child) {
        margin-right: 16px;
    }
}

// dropdowm样式覆盖 暂且放在这
.send-message-edited {
    min-width: auto;
}

.eui-dropdown-item:hover {
    eui-radio {
        label.eoffice-radio input[type="radio"]:checked+i {
            color: #fff !important;
            background-color: transparent !important;
        }
    }
}
