// append to body 样式覆盖
.ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.ng-select.ng-select-opened.ng-select-top>.ng-select-container {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.ng-select.ng-select-opened>.ng-select-container {
    outline: 0;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
}

// .ng-select.ng-select-opened > .ng-select-container:hover{
//     outline: 0;
//     box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
// }

// .ng-select .ng-select-container:hover{
//     outline: 0;
//     box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
// }

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
    background-color: #f5f5f5;
    line-height: initial;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value .ng-value-icon.right {
    border-left: none;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
    // top: auto;
    line-height: initial;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    width: calc(100% - 25px);
}


.ng-dropdown-panel {
    width: auto !important;
    min-width: 100%;
    max-width: 260px;
    z-index: 9999 !important;
    border: none;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);

    .ng-dropdown-header {
        input:focus {
            outline: 0;
            box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
        }
    }

    &.ng-select-top {
        bottom: calc(100% + 4px);
        margin-bottom: 0;
        border-radius: 2px;
    }

    &.ng-select-bottom {
        top: calc(100% + 4px);
        margin-top: 0;
        border-radius: 2px;
    }

    .ng-dropdown-panel-items {
        .ng-option {
            padding-right: 30px;
            height: 37px;

            &.ng-option-marked {
                // color: rgba(0, 0, 0, 0.65) !important;
                // background-color: #fafafa !important;
            }

            &.ng-option-selected {
                position: relative;

                .eui-icon.icon-true {
                    display: block;
                }

                // color: rgba(0, 0, 0, 0.65) !important;
                // background-color: #fafafa !important;
            }

            >div {
                display: inline-block;
            }

            .select-muiti-option {
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                word-break: break-all;
                text-overflow: ellipsis;
            }
        }

        .ng-optgroup {
            background-color: #fff;
        }
    }

    .eui-icon.icon-true {
        position: absolute;
        right: 12px;
        top: 6px;
        display: none;
    }

    .ng-dropdown-header {
        position: relative;

        .icon-head-search {
            color: #bcbcbc;
            font-size: 20px;
            position: absolute;
            right: 15px;
            top: 6px;
        }

        input {
            width: 100%;
            line-height: 24px;
            border-radius: 4px;
            padding-right: 35px;
        }
    }
}

.ng-select.ng-select-opened {
    .ng-select-container {
        z-index: 99 !important;
    }
}

.eoffice-select {

    // height: 32px;
    &.ng-select-disabled {
        .ng-select-container {
            &:hover {
                box-shadow: none;
            }

            border: none !important;
            background-color: transparent;

            .ng-arrow-wrapper {
                display: none;
            }

            .ng-value-container {
                // 预览表单时候，左侧对齐问题
                padding-left: 0 !important;
            }
        }
    }

    &.ng-select.ng-select-multiple {
        .ng-select-container {
            .ng-value-container {
                flex-wrap: nowrap;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

.eui-input-group {
    >eui-select {
        &.eui-form-control {
            padding: 0;
            height: initial;

            .ng-select {
                .ng-select-container {
                    border: none;
                }
            }
        }
    }
}

eui-select {
    height: 32px;
}

.eui-input-group {
    eui-select {
        ng-select {
            height: calc(100% - 1px) !important;
        }
    }
}
