<!-- <kp-modal>
    <modal-header>
        <span euiI18nText="eui.flow_graph.formula_settings"></span>
    </modal-header>
    <modal-body>
        <div class="kp-content" offset="350">
            <form-data-formula [config]="formulaConfig" [controls]="controls" [(ngModel)]="formula">
            </form-data-formula>
        </div>
    </modal-body>
    <modal-footer>
        <button class="kp-btn" type="button" (click)="cancel()" euiI18nText="common.cancel"></button>
        <button class="kp-btn kp-btn-primary" type="button" (click)="confirm()" euiI18nText="common.confirm"></button>
    </modal-footer>
</kp-modal> -->