<div class="eui-form-group">
    <label class="eui-form-control-label" title="控件ID">
        控件ID
    </label>
    <div class="eui-form-control-content">
        <div class="eui-input-group">
            <input class="eui-form-control" [(ngModel)]="currentId" type="text" disabled/>
            <div class="eui-input-group-append">
                <span class='eui-input-group-text eui-btn' (click)='openModal()'>
                    ...
                </span>
            </div>
        </div>
    </div>
</div>
