@import "../../../sass/eoffice/base/variables";

#{$prefix}modal-window {
    .component-host-scrollable {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}

// 解决 会签控件编辑器内 契约锁选择签章弹窗问题
.electronic-signature-editor {
    .eui-modal-content {
        border: 0px;
    }
}
