:host {
  width: 400px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #fff;
  border-radius: 16px;
  position: relative;
  padding: 48px 52px 36px;
  border: 1px solid;
}

.login-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .welcome {
    font-style: normal;
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 0;
  }

  .login-tip {
    color: #8a929e;
    width: 100%;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
  }

  .login-content {
    padding-top: 30px;
    background: #fff;
  }

  .ant-form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
  }

  .nz-form-item {
    margin-bottom: 0;
    display: block;
  }

  .ant-form-item {
    box-sizing: border-box;
    padding: 0;
    color: rgba(0, 0, 0, .65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: "tnum";
    margin: 0 0 24px;
    vertical-align: top;
  }

  .ant-row,
  .ant-row:after,
  .ant-row:before {
    display: flex;
  }

  .ant-row {
    flex-flow: row wrap;
  }

  .ant-form-item-control-input-content {
    flex: auto;
    max-width: 100%;
  }

  .login-form-button {
    width: 100%;
    font-size: 18px;
    padding: 9px 0;
    height: auto;
    background: #a1a7b1;
    color: #fefefe;
    border: none;
    margin-top: 32px;
    margin-bottom: 40px;
    border-radius: 8px;
  }

  .ant-btn-primary {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
  }

  .ant-btn>i,
  .ant-btn>span {
    display: inline-block;
    pointer-events: none;
  }
}
