<div class="eui-p-0 eui-ma-0 eui-pb-2" *ngIf="attributes">
  <div class="attribute-container" *ngIf="attributeValue && attributes.base && attributes.base.length > 0">
    <h5 class="eui-m-l-1">属性设置</h5>
    <attribute-template [attributeValue]="attributeValue" class="attribute-list" *ngFor="let item of attributes.base"
      [name]="item"></attribute-template>
  </div>
  <!-- <div class="attribute-container" *ngIf="attributes.style && attributeValue && attributes.style.length > 0">
      <h5 class="eui-m-l-1">样式设置</h5>
      <attribute-template [attributeValue]="attributeValue" class="attribute-list"
          *ngFor="let item of attributes.style" [name]="item"></attribute-template>
  </div>
  <div class="attribute-container" *ngIf="attributeValue && attributes.display && attributes.display.length > 0">
      <h5 class="eui-m-l-1">显示设置</h5>
      <attribute-template [attributeValue]="attributeValue" class="attribute-list"
          *ngFor="let item of attributes.display" [name]="item" [layoutInfo]="layoutInfo"></attribute-template>
  </div> -->
  <div class="empty-tip flow-handle-content-watermark-surround"
    *ngIf="attributes && (!attributes.style || attributes.style.length === 0)">
    <img src="assets/images/empty.png" width="120">
    <p>请选择控件</p>
  </div>
</div>
