$prefix: "eui-";
$controlArray: detail-layout editor signature-picture dynamic-info;

// 左侧控件的区域的宽度
$leftWidth: 240px;
// 头部高度
$headHeight: 50px;
// 右侧高度
$rightWidth: 280px;
// 上部距离
$utilsHeight: 39px;
// 上部距离
$menuWidth: 60px;
