//框架前缀
$prefix: "eui-";
//坐车nav宽度
$nav-width: 220px;
//头高度
$header-height: 56px;
//头高度
$navbar-height: 50px;
//中间列宽度
$middle-col-width: 300px;
//中间列lg宽
$middle-col-width-lg: 450px;
$side-modal-width: 770px;
$content-padding: 10px;
//默认字号
$font-size-root: 14px;
$font-size-base: .875rem;
//弹出框
// $modal-sl : 1440px !default;
$modal-lg: 900px !default;
$modal-sm: 800px !default;
$gray-dark: #373a3c !default;
$brand-danger: #d9534f !default;
//默认字体
$font-family-base:"Segoe UI",
"Lucida Grande",
Helvetica,
Arial,
"Microsoft YaHei",
FreeSans,
Arimo,
"Droid Sans",
"wenquanyi micro hei",
"Hiragino Sans GB",
"Hiragino Sans GB W3",
FontAwesome,
sans-serif;

input::-ms-clear,
input::-ms-reveal {
    display: none;
}

html {
    font-size: 16px;
}


$border-radius: .125rem !default;
$border-radius-lg: .125rem !default;
$border-radius-sm: .125rem !default;
