<div class="action-card-header kp-w-100 kp-d-flex kp-justify-content-between kp-align-items-center">
    <div class="card-title">
        @if(!nodeNameEdit){
        <div class="kp-d-flex kp-align-items-center">
            <span class="title-icon eui-icon icon-play kp-bg-primary-active kp-text-primary"></span>
            <div class="card-title-text">{{model.title}}</div>
            <span class="title-edit kp-cursor-pointer kp-text-hover-primary kp-pl-2" (click)="editName()">
                <i class="eui-icon icon-edit"></i>
            </span>
        </div>
        }
        @else{
        <div class="kp-d-flex kp-align-items-center">
            <span class="title-icon eui-icon icon-play kp-bg-primary-active kp-text-primary"></span>
            <div class="kp-input-group">
                <input class="kp-form-control kp-border-primary" [(ngModel)]="model.title" type="text" />
            </div>
            <span class="kp-cursor-pointer change-title kp-ml-2" (click)="saveName()">
                <i class="eui-icon icon-true"></i>
            </span>
        </div>
        }
    </div>
</div>
<div class="kp-content kp-p-0">
    <div class="kp-form-group">
        <label class="kp-form-control-label-3 kp-pl-0 kp-pr-0" euiI18nText="eui.flow_graph.params_type"
            euiI18nTitle="eui.flow_graph.params_type"></label>
        <div class="kp-form-control-content-9 kp-d-flex kp-form-control-static radio-container">
            <!-- @for (item of sourceConfig; track item) {
            <kp-radio [(ngModel)]="eventType" name="eventType" [value]="item.key" (ngModelChange)="setType(item)">
                <span [euiI18nText]="item.title"></span>
            </kp-radio>
            } -->
        </div>
    </div>
    <!-- @switch (eventType) {
    @case ('custom') {
    <custom-event [(ngModel)]="model.data" (ngModelChange)="changeValue($event)" [disabled]="disabled"></custom-event>
    }
    @case ('flow') {
    <flow-event [(ngModel)]="model.data" (ngModelChange)="changeValue($event)" [disabled]="disabled"></flow-event>
    }
    } -->
</div>